name: Lint

on:
  pull_request:
    branches: [ '*' ]

jobs:
  lint:
    name: with tslint and solhint
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [10.x]

    steps:
      - uses: actions/checkout@v2
      - uses: borales/actions-yarn@v2.0.0
        with:
          cmd: install # will run `yarn install` command
      - uses: borales/actions-yarn@v2.0.0
        with:
          cmd: lint # will run `yarn lint` command